*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --background-color: rgb(199, 198, 200);
  --menu-color: rgb(0, 0, 0);
  --project-color: rgb(0, 0, 0);
  --task-color: rgb(255, 255, 255);
  --section-background-color: rgb(227, 225, 229);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
}

.app {
  height: 85vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-areas: "projects tasks";
  column-gap: 1rem;
  cursor: default;
  background-color: var(--background-color);
  padding: 1rem;
  overflow-y: scroll;
  border-bottom: 1rem solid var(--background-color);
}

button {
  border-style: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.icon-xs {
  height: 1rem;
  width: 1rem;
}

.icon-small {
  height: 2rem;
  width: 2rem;
}

.icon-large {
  height: 3rem;
  width: 3rem;
}

.icon-xl {
  height: 3.5rem;
  width: 3.5rem;
}

.icon-xxl {
  height: 4rem;
  width: 4rem;
}

input {
  border: 1px solid white;
}

input:focus {
  outline: 1px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(0, 0, 0);
}

/* PROJECTS */
.projects-bar {
  font-size: 2rem;
  grid-area: projects;

  display: grid;
  grid-template-rows: 4.5rem 1fr;
  gap: 1rem;
  align-content: start;

  max-height: 85vh;
}

.projects {
  display: grid;
  align-content: start;

  overflow-y: scroll;
  background-color: var(--section-background-color);
}

.projects-main-tab {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.projects-heading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.project-tab,
.project-header {
  color: white;
  width: 25rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-header {
  height: 4.5rem;
  width: 100%;
  background-color: var(--menu-color);
}

.project-tab {
  background-color: var(--project-color);
  height: 6rem;
  border-bottom: 1px solid var(--background-color);
}

.project-color {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.project-name {
  margin-right: auto;
}

.new-project-form,
.edit-project-form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2rem 2rem;
  gap: 0.5rem;
}

.new-project-form-input,
.edit-project-form-input {
  align-self: center;
  padding: 0.5rem;
}

.new-project-btn,
.submit-new-project-btn,
.edit-project-name-btn,
.edit-task-btn {
  border: 1px solid white;
  border-radius: 3px;
  height: 2rem;
  width: 2rem;
  align-self: center;
}

.edit-task-btn {
  color: #000;
  border: 1px solid black;
}

.new-project-btn {
  margin-left: auto;
}

.new-project-exit-btn,
.edit-project-exit-btn,
.exit-edit-task-btn {
  align-self: start;
  justify-self: end;
}

.exit-edit-task-btn {
  color: #000;
}

/* TASK BAR */
.tasks {
  grid-area: tasks;
  position: relative;

  display: grid;
  grid-template-rows: 4.5rem 1fr;
  gap: 1rem;

  max-height: 85vh;
  overflow-y: scroll;
}

.taskbar {
  width: 100%;
  background-color: var(--menu-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.taskbar-menu {
  font-size: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 11rem 20rem 1fr 15rem 5rem;
  align-content: center;
  align-items: center;
  justify-items: start;
  padding: 1rem;
}

.taskbar-form-btn,
.new-task-submit-btn {
  border: 1px solid white;
  border-radius: 3px;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  display: grid;
  place-content: center;
}

.taskbar-title {
  font-weight: bold;
  justify-self: start;
}

.taskbar-form {
  padding: 0rem 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: 15rem 25rem 15rem 1fr min-content;
  align-content: center;
  gap: 1rem;
}

.task-name-input,
.task-notes-input,
.task-date-input,
.task-edit-title,
.task-edit-notes,
.task-edit-date {
  padding: 0.5rem;
  width: 95%;
  font-family: inherit;

  align-self: start;
  margin-top: 0.5rem;
}

.new-task-submit-btn {
  justify-self: center;
  align-self: center;
}

.new-task-exit-btn {
  align-self: start;
  justify-self: end;
}

.hidden {
  display: none;
}

/* Date picker */
[type="date"] {
  background: rgb(255, 255, 255)
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* TASK LIST */
.tasklist {
  display: grid;
  align-content: start;
  position: relative;
  gap: 1px;
  background-color: var(--section-background-color);
}

.task-info,
.task-edit-form {
  background-color: var(--task-color);
  height: 6rem;
  padding: 1rem;
  font-size: 1.5rem;

  display: grid;
  align-items: center;
}

.task-info {
  grid-template-columns: 5rem 5rem 20rem 1fr 15rem 2.5rem 2.5rem;
}

.task-edit-form {
  grid-template-columns: 1fr 2fr 1fr 2.5rem 2.5rem;
}

.task-edit-title,
.task-edit-notes,
.task-edit-date {
  border: 1px solid black;
}

/* task checkbox */
.task-checkbox {
  margin-bottom: 2.5rem;
  align-self: center;
  position: relative;
  cursor: pointer;
}

.task-checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.task-checkbox:hover input ~ .checkmark {
  background-color: rgb(234, 230, 230);
}

.task-checkbox input:checked ~ .checkmark {
  background-color: #c8f8b7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.task-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.task-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* task star */
.star {
  visibility: hidden;
  font-size: 30px;
  margin-bottom: 3rem;
  position: relative;
}
.star:before {
  cursor: pointer;
  visibility: visible;
  content: "\2606";
  position: absolute;
  color: rgb(250, 209, 60);
  opacity: 0.7;
}
.star:checked:before {
  content: "\2605";
  position: absolute;
  color: rgb(250, 209, 60);
  opacity: 1;
}
