*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.app {
  height: 85vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: 6rem min-content;
  grid-template-areas:
    "projects taskbar"
    "projects tasks";
  column-gap: 4rem;
  row-gap: 2rem;
  cursor: default;
}

button {
  border-style: none;
  color: white;
  background-color: black;
  cursor: pointer;
}

.icon-small {
  height: 2rem;
  width: 2rem;
}

.icon-large {
  height: 3rem;
  width: 3rem;
}

.icon-xl {
  height: 3.5rem;
  width: 3.5rem;
}

.icon-xxl {
  height: 4rem;
  width: 4rem;
}

input {
  border: 1px solid white;
}

input:focus {
  outline: 1px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(0, 0, 0);
}

/* PROJECTS */
.projects-bar {
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  grid-area: projects;

  display: grid;
  gap: 2rem;

  max-height: 85vh;
}

.projects {
  display: grid;
  gap: 1rem;

  overflow-y: scroll;
}

.projects-main-tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.projects-heading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.project-tab {
  height: 6rem;
  width: 25rem;
  border-radius: 3px;
  padding: 1rem;
  color: white;
  background-color: black;

  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.project-color {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.project-name {
  margin-right: auto;
}

.new-project-form,
.edit-project-form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2rem 2rem;
  gap: 0.5rem;
}

.new-project-form-input,
.edit-project-form-input {
  align-self: center;
  padding: 0.5rem;
}

.new-project-btn,
.submit-new-project-btn,
.edit-project-name-btn {
  border: 1px solid white;
  border-radius: 3px;
  height: 2rem;
  width: 2rem;
  align-self: center;
}

.new-project-exit-btn,
.edit-project-exit-btn {
  align-self: start;
  justify-self: end;
}

/* TASK BAR */
.taskbar {
  grid-area: taskbar;
  height: 6rem;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 3px;
}

.taskbar-menu {
  font-size: 2.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 10rem 18rem 12rem 1fr 5rem;
  align-items: center;
  justify-items: center;
}

.taskbar-form-btn,
.new-task-submit-btn {
  border: 1px solid white;
  border-radius: 3px;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
}

.taskbar-title {
  font-weight: bold;
  justify-self: start;
}

.taskbar-form {
  padding: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr 1.5fr 1fr 1fr min-content;
  justify-items: center;
  gap: 0.5rem;
}

.task-name-input,
.task-notes-input,
.task-date-input {
  padding: 0.5rem;
  width: 95%;
  font-family: inherit;

  align-self: start;
  margin-top: 0.5rem;
}

.task-notes-input {
}

.new-task-submit-btn {
  align-self: start;
}

.new-task-exit-btn {
  align-self: start;
  justify-self: end;
}

.hidden {
  display: none;
}

/* Project drop-down */

.task-project-input li a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-size: 1.3rem;
}

.task-project-input nav {
  background: #ffffff;
}

.task-project-input span {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.task-project-input span::after {
  float: right;
  right: 10%;
  content: "▾";
}

.task-project-input .slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
  border: 1px solid black;
}

.task-project-input .slide li {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 2rem;
}

.task-project-input .slide li:hover {
  background-color: rgb(0, 0, 0);
}

.task-project-input .slide li:hover a {
  color: rgb(255, 255, 255);
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 10rem;
  overflow-y: scroll;
}

/* Date picker */
[type="date"] {
  background: rgb(255, 255, 255)
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
